@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&display=swap");

body {
  /* background-color: #dbc797; */
  background-color: #e3bcbc;
  /* background-image: linear-gradient(to right, #dbc797, #9c765d); */
  /* background-color: lightgray; */
  background-size: 100% 100%;
  margin-top: 0;
}

.cursor {
  cursor: url("/images/chef.svg"), url("/images/chef.cur");
  width: 3rem;
  height: 3rem;
  border: 2px solid blue;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: background, border, transform;
  transform-origin: 150% 150%;
  z-index: 99;
}

.nav {
  font-family: Bungee;
  text-shadow: 1px 1px #97d7cb;
  /* font-family: Montserrat; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9c765d; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #dbc797, #9c765d);
  font-size: 14px;
  /* float: left; */
  display: block;
  border: solid;
  filter: drop-shadow(2px 2px 2px black);
  /* text-align: center; */
  /* text-decoration: none; */
}

.nav a {
  float: left;
  padding: 10px;
  text-align: center;
  color: white;
  display: block;
  text-decoration: none;
  margin-right: 20px;
}

.nav a:hover {
  background-color: #9c765d;
}

.flip-card {
  font-family: Poppins;
  background-color: transparent;
  width: 200px;
  height: 310px;
  perspective: 1000px;
  display: flex;
  float: left;
  margin-right: 40px;
  margin-bottom: 15px;
}

.flip-card-inner {
  font-size: 12px;
  border-radius: 25px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #9c765d;
  background-image: linear-gradient(to right, #e3bcbc, #f7e298);
  color: white;
  transform: rotateY(180deg);
  text-shadow: 1px 2px grey;
}

.books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /* margin-left: 100px; */
  /* width: 80%;
  margin: 0 auto; */
}

.profile-div {
  display: flex;
}

.profile-image {
  float: left;
  position: relative;
  width: 23%;
  height: 310px;
  margin-left: 300px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 35px;
}

.user-info {
  font-family: Poppins;
  font-size: 15px;
  margin-left: 100px;
  padding: 0;
  text-align: center;
  color: white;
  float: right;
  position: relative;
  text-shadow: 1px 2px #9c765d;
  /* overflow: hidden; */
}

.user-info h1 {
  font-size: 45px;
  font-weight: bold;
}

.user-info span {
  font-weight: bold;
  font-size: 25px;
  color: #9c765d;
  text-shadow: none;
}

.login-signup {
  padding: 20px 100px;
  position: relative;
  /* min-height: 100vh; */
  text-align: center;
  color: white;
  font-family: Poppins;
  font-size: 18px;
  text-shadow: 1px 2px #97d7cb;
}

.account {
  width: 35%;
  height: 30px;
  margin: 20px 0px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: Poppins;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.login-submit-button {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #97d7cb 85%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.login-submit-button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
}
.login-submit-button:before,
.login-submit-button:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #97d7cb;
  transition: all 0.3s ease;
}
.login-submit-button:before {
  height: 0%;
  width: 2px;
}
.login-submit-button:after {
  width: 0%;
  height: 2px;
}
.login-submit-button:hover:before {
  height: 100%;
}
.login-submit-button:hover:after {
  width: 100%;
}
.login-submit-button:hover {
  background: transparent;
}
.login-submit-button span:hover {
  color: white;
}
.login-submit-button span:before,
.login-submit-button span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  transition: all 0.3s ease;
}
.login-submit-button span:before {
  width: 2px;
  height: 0%;
}
.login-submit-button span:after {
  height: 2px;
  width: 0%;
}
.login-submit-button span:hover:before {
  height: 100%;
}
.login-submit-button span:hover:after {
  width: 100%;
}

.book-club-list {
  font-family: Poppins;
  font-size: 13px;
  background-color: #fcf2c7;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: solid;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    3px 3px 4px 0px #97d7cb, 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.home-not-logged-in {
  font-family: Bungee;
  color: white;
  text-shadow: 2px 2px #97d7cb;
  font-size: 45px;
  text-align: center;
}

.home-logged-in {
  font-family: Bungee;
  color: white;
  font-size: 55px;
  text-shadow: 2px 2px #97d7cb;
  text-align: center;
}

.register-login-home-buttons {
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.register-login-home:hover {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #97d7cb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.individual-bookclub {
  font-family: Poppins;
  font-size: 17px;
  color: white;
  text-shadow: 1px 1px #9c765d;
  text-align: center;
}

.individual-bookclub h3 {
  font-family: Bungee;
  font-size: 37px;
  color: white;
  text-shadow: 2px 3px #9c765d;
}

.individual-bookclub h1 {
  font-family: Bungee;
  font-size: 37px;
  color: white;
  text-shadow: 2px 3px #9c765d;
}

.add-comment {
  font-family: Poppins;
  padding: 20px 100px;
  position: relative;
  /* margin-left: 20%; */
}

.booklub-image {
  width: 200px;
  height: 310px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.edit-profile {
  /* display: flex; */
  font-family: Poppins;
  font-size: 15px;
  color: white;
  float: right;
  /* text-align: center; */
  position: relative;
  text-shadow: 1px 2px #9c765d;
  width: 50%;
  margin-left: 100px;
  /* overflow: auto; */
}

.edit-profile label {
  font-size: 20px;
}

.book-details {
  /* display: flex; */
  float: left;
  margin-left: 150px;
  padding-top: 15px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 45px;
  /* word-wrap: break-word; */
  border: solid;
  border-color: #9c765d;
  box-shadow: 2px 2px 2px #9c765d;
}

.book-comments {
  margin-left: 150px;
  float: right;
  padding-bottom: 100px;
  padding-left: 50px;
  border: solid;
  border-color: #9c765d;
  box-shadow: 2px 2px 2px #9c765d;
  height: 415px;
  overflow: scroll;
  text-align: left;
  /* text-align: center; */
}

.add-comment {
  width: 50%;
  height: 5px;
  align-self: center;
  /* margin: 20px 0px; */
}
